body {
	background: #ffffff url("res/bg.jpg") no-repeat fixed center;
}

#conchShell {
	display: table;
	margin: auto;
}

#conchShellImg {
	width: 526px;
	height: 333px;
	background-image: url("res/conch_shell.png");
	margin-top: 12vh;
	margin-bottom: 10vh;
}

#conchShellImg:hover {
	background-image: url("res/conch_shell_glow.png");
}

h1 {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 48;
	color: white;
	text-shadow: 0px 0px 12px #565656;
}